<% title "Blog Posts" %>

<%= link_to(image_tag("icons/newspaper_add.png"), new_blog_post_path) if can? :new, BlogPost%>
<div id="tagcloud">
	<h2>Tags</h2>
	<%= tag_cloud %>
</div>

<div id="pagination">
	<%= render 'blog' %>
</div>
